<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mememamia.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>33FFC3371C5D35BB00664DDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33FFC34B1C5D35BB00664DDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33FFC3561C5D35BB00664DDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
